
// Typography
$base-font-size: 16px;

// Colors
$brand-primary: #6093F8;

$gray-lighter: #eee;
$gray-light: #F1F1F1;
$gray-dark: #E8E8E8;
$gray-darker: #9A9A9A; 

// Type
$font-display: 'Open Sans', sans-serif;


// Shadows
$shadow: 0px 2px 4px 0px rgba(0,0,0,0.05), 0px 2px 35px 0px rgba(0,0,0,0.04);
$shadow-xs: 0px 1px 3px 0px rgba(0,0,0,0.08);

// Breakpoints
$screen-md: 900px;