

.zakelijk {
    min-height: 50vh;
    text-align: center;
    position: relative;
    background-image: url(../../img/leaf-big.jpg);
    background-size: cover;
    
    p{
        color:white;
        font-weight: 400;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08);
    }

    @include h{
        color: white;
    }

    .center{
        @include centralize;
        padding: 50px;

        @include bp(650px, max){
            width: 100%;
        }
    }
}